<!-- หน้าแรก -->
{% extends 'layouts.html' %} <!-- extend จาก layouts -->
{% load static %}
{% load humanize %}<!-- ใส่ comma ตัวเลขราคา -->
{% block content%}

<div class="container"> <!-- BOOTSTRAP -->
    <div class="row my-3">
    {% for product in products %}

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{product.image.url}}" alt=""></a><!-- แก้ภาพ -->
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{product.get_url}}">{{product.name}}</a><!-- แก้ชื่อ -->
            </h4>
            <h5>{{product.price|intcomma}} คะแนน</h5> <!-- แก้ราคา **************************ใส่เป็นแต้มคะแนน*******************************-->
            <p class="card-text">{{product.description | slice:":150" }}</p><!-- แก้รายละเอียดสินค้า -->
          </div>
          <div class="card-footer">
            {% if product.stock <= 0 %}
                <h2 class="text-danger">สินค้าหมด</h2>

            {% else %}
                <a href="{%url 'addCart' product.id %}" class="btn btn-primary">เพิ่มลงตะกร้า</a> <!-- href="#"  # คือ ระบุการเรียกใช้งาน url -->

            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <nav aria-label="pagination">
      {% if products.paginator.num_pages > 1 %}
      <ul class="pagination">
          {% for page_number in products.paginator.page_range %}
            <li class="page-item
            {% if products.number == page_number %}
                active
            {% endif %}
            "><a class="page-link" href="?page={{ page_number }}"> {{ page_number }} </a></li>
          {% endfor %}
      </ul>
      {% endif %}
    </nav>
</div>

{% endblock %}


