{% extends 'layouts.html' %} <!-- extend จาก layouts -->
{% load humanize %} <!-- ใส่ comma ตัวเลขราคา -->
{% block content%}

<div class="coontainer">
    <div class="row">
        <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card mt-4">
            <img class="card-img-top img-fluid" src="{{product.image.url}}" alt=""> <!--  -->
            <div class="card-body">
              <h3 class="card-title">{{product.name}}</h3><!--  -->
              <h4>{{product.price| intcomma}} คะแนน</h4><!-- **************************ใส่เป็นแต้มคะแนน*******************************-->
              <p class="card-text">{{product.description}}</p><!--  -->
              {% if product.stock <= 0 %}
                <h2 class="text-danger">สินค้าหมด</h2>

            {% else %}
                <a href="{%url 'addCart' product.id %}" class="btn btn-primary">เพิ่มลงตะกร้า</a>

            {% endif %}
            </div>
          </div>
    </div>
    </div>
</div>

{% endblock %}


